{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} Jquery tutorial {% endblock %}

 <!-- Content Header (Page header) -->


     <!-- Main content -->


{% block contenido %}
  <!-- jQuery 2.2.3 -->
<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>

<div class="box box-primary  with-border">
  <div class="box-body">


	<script>

	$(document).on('ready', function (){

		// selector para id ... TEXT IMPRIME TODO IGUAL LO QUE ESTA DENTRRO DE LAS COMILLAS
		// $('#prueba').text('<p>hola mundo</p>');
    //
		// // selector para class .. IMPRIME ETIQUETA HTML
		// $('.prueba').html('<strong>hola mundo</strong>');

    var seleccion = $('.ejem1');
		if (seleccion.length)
				console.log('Existen: ' + seleccion.length);
		else
			  console.log('no existe el elemento selecionado');

    //seleccion.not('.cl1').text('Este elemento no contiene la clase cl1');

    //seleccion.has('p').text('Este elemento tiene la tag <p>');

    $('li').first().html('<p>Soy el elemento1</p>');
    $('li').eq(2).text('Soy el elemento 3');


	});

	</script>

  <script>

  $(document).on('ready', function (){

    //este metodo sirve para obtener el id
    $('#prueba').attr('class', 'ejemplo');
  

  });

  </script>

  <p id="parrafo"><strong>Hola JQuery</strong></p>

  <div id="prueba"></div>

	<div class="prueba"></div>


  <div class="ejem1 cl1">
		<p></p>

	</div>

	<div class="ejem1">
		<span></span>


    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

</div>

{% endblock %}
     <!-- /.content -->
