{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %} Listado de solicitudes {% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

<style>
  .select2-container .select2-selection--single .select2-selection__rendered{
    margin-top: 0px;
  }
  .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color:#00a65a;
  }
  .sub-style {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #269AFF;
    font-size: 12;
    font-weight: bold;
  }
  .loader {
      display: none;
      animation: spin 2s linear infinite;
      position:   fixed;
      z-index:    1000;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
                /*id="tabla" class="table table-bordered table-striped table-hover  table-responsive"*/

                /*class="table table-striped"*/
  }



</style>

<div class="box box-primary  with-border">
  <div class="box-body">
  <p class="pull-right">Fecha: {% now 'd-m-Y' %}</p>
   
   <!-- page-header -->
      <p class="text-center sub-style">LISTA DE TICKETS INGRESADOS AL SISTEMA</p>

      <div class="table-responsive">
          <table class="table data-table">
            
          </table>
    </div>     
        
        <table class="table table-bordered table-striped table-hover  table-responsive" >

          <thead>
            <tr>
                <td><b>#</b></td>
                <td><b>PRIORIDAD</b></td>
                <td><b>TITULO</b></td>
                <td><b>DESCRIPCION</b></td>
                <td><b>COMENTARIO</b></td> 
                {% if request.user.is_superuser %}                        
                <td><b>OPCIONES</b></td>   
                {% endif %}                      

            </tr>

          </thead>
          <tbody>
            {% if lista %}
              {% for data in lista %}            
             <tr>
               <td>{{ data.id }}</td>
                <td>{{ data.prioridad }}</td>
               <td>{{ data.titulo }}</td>
               <td>{{ data.descripcion_ticket }}</td>
               <td>{{ data.comentario }}</td>
             
                <td> 
                {% if request.user.is_superuser %}
                  <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-align-justify"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="">Detalle</a></li>
                        <li><a href="">Editar</a></li>
                        <li><a href="" class="eliminar">Cerrar Ticket</a></li>
                       
                      </ul>
                  </div>
                  {% endif %}
                </td> 
           
              
               
                          

             </tr> 
              {% endfor %}
              {% else %}
              <h4>no hay Registros</h4>

            {% endif %}
          </tbody>


        </table>


      </div>
 
  
</div>

{% endblock %}