{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}


{% block contenido %}

<style>
	.select2-container .select2-selection--single .select2-selection__rendered{
		margin-top: 0px;
	}
	.nav-tabs-custom > .nav-tabs > li.active{
		border-top-color:#00a65a;
	}
	.sub-style {
		font-family: Tahoma, Verdana, Segoe, sans-serif;
		color: #269AFF;
		font-size: 12;
		font-weight: bold;
	}
  td {
    padding-right: 8px;
    padding-left: 8px;
    text-align: left;
  }
</style>

      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> Detalle del Ticket
            <p class="pull-right">Fecha: {% now 'Y-m-d' %}</p>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->  

      <div class="row">
        <div class="col-xs-12">
        <table >
            <tbody>
              <tr>
                <td ><b>CODIGO:</b></td>
                <td >{{detalle.id}}</td>
                 <td><b>ASIGNADO A:</b></td>
                <td>{{detalle.asignadoA}}</td>
              
              </tr>
             
              
              <tr>
                <td ><b>TITULO:</b></td>
                <td >{{detalle.titulo}}</td>               
                <td><b>ESTADO:</b></td>
                <td>{{detalle.codEstado}}</td>
              </tr>
                <tr>
                <td ><b>PROYECTO:</b></td>
                <td>{{detalle.codProyecto}}</td>
                <td><b>PRIORIDAD:</b></td>
                <td>{{detalle.prioridad}}</td>
              </tr>
                </tr>
                <tr>
                <td ><b>USUARIO CREADOR:</b></td>
                <td>{{detalle.usuarioCreador}}</td>
                <td><b>FECHA CREACION:</b></td>
                <td>{{detalle.fechaCreacion}}</td>
              </tr>
              
            </tbody>

      
          </table>

          
        </div>
        <!-- /.col -->
      </div>    
      <br>  
      <hr> 
          
        
   
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-11 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>DESCRIPCION:</th>
              <th>COMENTARIO:</th>
              
            </tr>
            </thead>
            <tbody>
            <tr>              
              <td>{{detalle.descripcion_ticket}}</td>
              <td>{{detalle.comentario}}</td>
            </tr>
	            
            </tbody>
          </table>
        </div>

              <a href="{% url 'listado_solicitudes' %}" ><button style="width: 150px; height: 50px; margin-left: 76%;" class="btn btn-warning"><i class="glyphicon glyphicon-refresh" ></i> RETORNAR</button></a>
        <!-- /.col -->
      </div>

      <!-- /.row -->

  
<script type="text/javascript">
	$(document).ready(function() {
		$('.content').removeClass('content').addClass('invoice')
	})
</script>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
  <h1>Input Group Size</h1>
  <p>The .input-group class is a container to enhance an input by adding an icon, text or a button in front or behind it as a "help text".</p>
  <p>Use the .input-group-lg if you want a large input group:</p>
  <form>
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </form>
  <br>

  <p>Use the .input-group-sm if you want a small input group:</p>
  <form>
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </form>
</div>

</body>
</html>

 -->