{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %} Listado de solicitudes {% endblock %}
{% block contenido %}

<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
	.select2-container .select2-selection--single .select2-selection__rendered{
		margin-top: 0px;
	}
	.nav-tabs-custom > .nav-tabs > li.active{
		border-top-color:#00a65a;
	}
	.sub-style {
		font-family: Tahoma, Verdana, Segoe, sans-serif;
		color: #269AFF;
		font-size: 12;
		font-weight: bold;
	}
</style>


<div class="box box-primary">


	<div class="box-body ">
	<p class="pull-right">Fecha: {% now 'd-m-Y' %}</p>
	 
	 <!-- page-header -->
			<h4 class="text-center sub-style">LISTA DE TICKETS INGRESADOS AL SISTEMA</h4><hr>

	<table id="tabla" class="table table-bordered table-hover table-responsive">
		
					<thead>
					 
							<tr>
								<th>#</th>
								<th>TITULO</th>
								<th>PROYECTO</th>
								<th>PRIORIDAD</th>                        
								{% if request.user.is_superuser %}
								<th>ESTADO</th>									
								<th>ARCHIVO</th>                
								{% endif %}                                      
								<th>OPCIONES</th>  
							</tr>     

					</thead>
		<tbody>
						{% if lista %}
							{% for data in lista %}            
						<tr>
							<td>{{ data.id }}</td>
							<td>{{ data.titulo }}</td>
							<td>{{ data.codProyecto }}</td>
							<td>{{ data.prioridad }}</td>               
							{% if request.user.is_superuser %}
							<td>{{ data.codEstado }}</td>
							<td>{{ data.archivo }}</td>
							<td>{{ data.asignadoA }}</td>
						{% endif %}
						 
							<td style="text-align: center;"> 
								
									<div  class="dropdown">
											<button  class="glyphicon glyphicon-list" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												
											</button>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
												
												<li><a class="glyphicon glyphicon-pencil" href="{% url 'ticket_editar' data.id %}"> Editar</a></li>
												<li><a class="glyphicon glyphicon-asterisk" href="{% url 'ticket_detalle' data.id %}"> Detalle</a></li>
												
												<!-- <li><a class="glyphicon glyphicon-off" data-toggle="modal" data-target="#myModal"> Cerrar Ticket</a></li> -->
											 
											</ul>
									</div>
									
								</td>          

						</tr> 
							{% endfor %}
							{% else %}
							<h4>no hay Registros</h4>
						{% endif %}					
		
		</tbody>
	</table>

	</div>
</div>

	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">encabezado</h4>
				</div>

				<div class="modal-body">  				

				</div>     
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary">Guardar cambios</button>
				</div>

				
			</div>
		</div>
	</div>

<script>
	$(document).ready(function() {
		$("#tabla").DataTable();
	// $("#tabla").DataTable({
 //      "language": {
 //            "lengthMenu": "_MENU_ registros",
 //            "zeroRecords": "No se encontro ningun registro",
 //            "info": "Pagina _PAGE_ de _PAGES_",
 //            "infoEmpty": "No hay registros",
 //            "infoFiltered": "(filtrado de _MAX_ registros)",
 //            "search":         "Buscar:",
 //            "paginate": {
 //                 "first":      "Primero",
 //                 "last":       "Ultimo",
 //                 "next":       "Siguiente",
 //                 "previous":   "Anterior"
 //             },
 //        }
 //   });
	
	});
</script>
<!-- JavaScript Test -->
<!-- <script>
var firefoxTestDone = false
function reportFirefoxTestResult(result) {
	if (!firefoxTestDone) {
		$('#ff-bug-test-result')
			.addClass(result ? 'text-success' : 'text-danger')
			.text(result ? 'PASS' : 'FAIL')  
	}
	firefoxTestDone = true
}

$(function () {
	$('.js-popover').popover()
	$('.js-tooltip').tooltip()
	$('#tall-toggle').click(function () {
		$('#tall').toggle()
	})
	$('#ff-bug-input').one('focus', function () {
		$('#myModal2').on('focus', function () {
			reportFirefoxTestResult(false)
		})
		$('#ff-bug-input').on('focus', function () {
			reportFirefoxTestResult(true)
		})
	})
})
</script>
 -->
{% endblock %}
