{% extends 'base.html' %} {% load staticfiles %} {% load bootstrap %} {% block title %} Editar Ticket {% endblock %} {% block contenido %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2/select2-bootstrap.min.css' %}">

<link href="{% static 'plugins/iCheck/square/blue.css' %}" rel="stylesheet">
<script src="{% static 'plugins/iCheck/icheck.js' %}"></script>


<style>
    .select2-container .select2-selection--single .select2-selection__rendered {
        margin-top: 0px;
    }
    
    .nav-tabs-custom>.nav-tabs>li.active {
        border-top-color: #00a65a;
    }
    
    .sub-style {
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        color: #269AFF;
        font-size: 12;
        font-weight: bold;
    }
    
    .loader {
        display: none;
        animation: spin 2s linear infinite;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
    }
</style>
<div class="box box-solid box-warning">
    <div class="box-header text-center">
        <h3 class="box-title">EDITAR SOLICITUD</h3>
    </div>
    <div class="box-body">
       
        <form method="post" accept-charset="utf-8" id="formulario" class="form-horizontal" enctype='multipart/form-data'>
            <!-- novalidate -->
            {% csrf_token %}

            <p class="page-header"></p>
            <div class="row">
                <div class="col-sm-8">
                    {{formulario_ingreso.codProyecto|bootstrap_horizontal:'col-xs-4'}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    {{formulario_ingreso.titulo|bootstrap_horizontal:'col-xs-4'}}
                </div>

            </div>
            <div class="row">
                <div class="col-sm-8">
                    {{formulario_ingreso.descripcion_ticket|bootstrap_horizontal:'col-xs-4'}}
                </div>

            </div>
            <div class="row">
                <div class="col-sm-8">
                    {{formulario_ingreso.comentario|bootstrap_horizontal:'col-xs-4'}}
                </div>

            </div>
            <div class="row">
                <div class="col-sm-8">
                    {{formulario_ingreso.prioridad|bootstrap_horizontal:'col-xs-4'}}
                </div>

            </div>
            {% if request.user.is_superuser %}
            <div class="row">
                <div class="col-sm-8">
                    {{formulario_ingreso.asignadoA|bootstrap_horizontal:'col-xs-4'}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    {{formulario_ingreso.codEstado|bootstrap_horizontal:'col-xs-4'}}
                </div>
            </div>
            {% endif %}

            <br>
            <hr>

            <button type="submit" class="btn btn-info btn-lg" id='btn-guardar'><i class="glyphicon glyphicon-floppy-disk " ></i> Guardar</button>
            


        </form>
    </div>
</div>

{% endblock %}
<!-- /.content -->